<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election has ended</title>
  </head>
  <body>

    <h1>{{title}}</h1>
    <br />
    <p>The
      {{election_title}}
      ended at
      {{election_end_date}}</p>
    <p>View the election results <a href="{{election_result_link}}">here</a></p>
    <br />
    <small>Dont send this email to anyone, and dont reply in this email. Thank
      you.</small>
  </body>
</html>