<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Election has launched</title>
  </head>
  <body>

    <h1>{{title}}</h1>
    <br />
    <p>The
      {{election_title}}
      started at
      {{election_start_date}}, Please submit your vote before the election end
      on
      {{election_end_date}}</p>
    <br />
    <p></p>
    <small>Dont send this email to anyone, and dont reply in this email. Thank
      you.</small>
  </body>
</html>