<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pre Registration Approved</title>
  </head>
  <body>

    <h1>{{title}}</h1>
    <br />
    <p>Hi!
      {{firstname}}
      {{lastname}}, you're pre-gistration on election "{{election_title}}" has
      been approved.
    </p>

    <p>We will send you a notice when election has started. </p>

    <p>Thank you</p>

    <small>Dont send this email to anyone, and dont reply in this email. Thank
      you.</small>
  </body>
</html>